p1
{
display:block; 
  color:blue;
  font-size:50;
  font-style:underline;
  border:thick solid;
  background-color:maroon;
  text-align:center;
  border-color:grey;
}
p2
{
display:block;
  color:green;
  font-size:50;
  font-style:italic;
  border:thin dotted;
  background-color:yellow;
  text-align:center;
  border-color:red;
}
p3
{
display:block;
  color:red;
  font-size:50;
  font-style:italic;
  border:thin dotted;
  background-color:pink;
  text-align:center;
  border-color:green
}
background-color:green;
